body{
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    text-align:center;
}
.h1{
    font-size: 29px;
    line-height: 5;
}
#nick{
    color: gray;
    text-decoration-line: none;
    display:inline-grid ;
    font-size: 20px;
}
.cards{

    height: 350px;
}
.cards img{
    width: 225px;
    margin: 20px 15px 15px 15px; 
    border-radius: 2%;
}    
h1 , button{
    color: white;
}    
button{
    background-color: black;
}    

