*{
    box-sizing: border-box;
}

h1 , button{
    color: white;
}


button{
    background-color: black;
    margin: 4rem 0;
}
    
body {
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1{
    font-size: 29px;
    line-height: 5;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.cards img{
    width: 10rem;
    border-radius: 2%;
    margin: 0.8rem;
}

.card-profile:hover p.paragraph{
    color: red;
    filter: contrast(0.5);
    cursor: pointer;
}

.paragraph{
    color: gray;
    font-size: 20px;
}



