body{
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    text-align:center;
}
#nick{
    color: gray;
    text-decoration-line: none;
    display:inline-grid ;
}
img{
    width: 250px;
}
h1 , button{
    color: white;
}
button{
    background-color: black;
}

